/* Footer */
footer{
    background-color: #112C4A;
    position: relative;
    
    .container{
        padding-top: 35px;
        padding-bottom: 35px;
        position: relative;
        z-index: 1;
    }
    
    a{
        color: #ffffff;
    }
    
    ul{
        li{
            padding: 0px 0 7px;
            
            a{
                font-size: 14px;
                line-height: 22px;
                font-weight: 500;
            }
        }
        
        &.socialList {
            padding: 20px 0;
            
            li{
                margin: 0 7px 0 0;
            }
        }
    }
    
    p{
        color: rgba(255, 255, 255, 0.7);
        font-size: 13px;
        line-height: 16px;
        font-weight: 400;
    }
    
    figure{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    
    @media only screen and (min-width: 992px) {
    
        .container{
            padding-top: 30px;
            padding-bottom: 16px;
        }
    
        ul{
            li{
                padding: 0;
            }
            
            &.leftList li{
                margin: 0 20px 0 0;
            }
            
            &.rightList li{
                margin: 0 0 0 20px;
            }
        
            &.socialList li{
                margin: 0 0 0 7px;
            }
        }
    }
}
/* Footer ends */
